/* Hastag for ID's and full stops for classes */

 /* CSS for index.html */
body {
    background-color: rgb(247 247 247);
    }

#header {
      display: block;
      padding: 150px 20px 150px 20px;
      background-position: top center;
      background-image: url("../images/bake-home.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

h1 {
    font-family: 'Carrois Gothic SC', sans-serif;
    text-align: center;
    color: rgb(0,0,0);
    font-size: 50px;
    }



  /* CSS for about.htm */

#About{
      display: block;
      padding: 150px 20px 150px 20px;
      background-position: top center;
      background-image: url("../images/bread.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: rgba(0 0 0);
      }

#baker {
    font-family: 'Carrois Gothic SC', sans-serif;
    text-align: left;
    color: rgb(0,0,0);
    font-size: 60px;
    margin-left: 200px;
    }
.row {
    margin: 40px 40px 20px 40px;
}

.col-sm {
    padding-left: 80px;
}

.meet-the-baker {
    height: 500px;
    border: 10px solid rgb(184 189 196);
    border-radius: 250px;
  }

#intro {
    margin-top: 40px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 31px;
    text-align: justify;

}
